In [1]:
pip install "dask[complete]"

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dask[complete] in /home/dranser/.local/lib/python3.10/site-packages (2023.8.1)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/lib/python3/dist-packages (from dask[complete]) (5.4.1)
Requirement already satisfied: packaging>=20.0 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (23.1)
Requirement already satisfied: click>=8.0 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (8.1.7)
Requirement already satisfied: toolz>=0.10.0 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (0.12.0)
Requirement already satisfied: cloudpickle>=1.5.0 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (2.2.1)
Requirement already satisfied: fsspec>=2021.09.0 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (2023.6.0)
Requirement already satisfied: partd>=1.2.0 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (1.4.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (6.8.0)
Requirement already satisfied: pyarrow>=7.0 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (13.0.0)
Requirement already satisfied: lz4>=4.3.2 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (4.3.2)
Requirement already satisfied: zipp>=0.5 in /usr/lib/python3/dist-packages (from importlib-metadata>=4.13.0->dask[complete]) (1.0.0)
Requirement already satisfied: locket in /home/dranser/.local/lib/python3.10/site-packages (from partd>=1.2.0->dask[complete]) (1.0.0)
Requirement already satisfied: numpy>=1.16.6 in /home/dranser/.local/lib/python3.10/site-packages (from pyarrow>=7.0->dask[complete]) (1.25.2)
Requirement already satisfied: pandas>=1.3 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (2.0.3)
Requirement already satisfied: distributed==2023.8.1 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (2023.8.1)
Requirement already satisfied: bokeh>=2.4.2 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (3.2.2)
Requirement already satisfied: jinja2>=2.10.3 in /home/dranser/.local/lib/python3.10/site-packages (from dask[complete]) (3.1.2)
Requirement already satisfied: zict>=2.2.0 in /home/dranser/.local/lib/python3.10/site-packages (from distributed==2023.8.1->dask[complete]) (3.0.0)
Requirement already satisfied: tornado>=6.0.4 in /home/dranser/.local/lib/python3.10/site-packages (from distributed==2023.8.1->dask[complete]) (6.3.2)
Requirement already satisfied: urllib3>=1.24.3 in /home/dranser/.local/lib/python3.10/site-packages (from distributed==2023.8.1->dask[complete]) (2.0.4)
Requirement already satisfied: psutil>=5.7.2 in /home/dranser/.local/lib/python3.10/site-packages (from distributed==2023.8.1->dask[complete]) (5.9.5)
Requirement already satisfied: msgpack>=1.0.0 in /home/dranser/.local/lib/python3.10/site-packages (from distributed==2023.8.1->dask[complete]) (1.0.5)
Requirement already satisfied: tblib>=1.6.0 in /home/dranser/.local/lib/python3.10/site-packages (from distributed==2023.8.1->dask[complete]) (2.0.0)
Requirement already satisfied: sortedcontainers>=2.0.5 in /home/dranser/.local/lib/python3.10/site-packages (from distributed==2023.8.1->dask[complete]) (2.4.0)
Requirement already satisfied: contourpy>=1 in /home/dranser/.local/lib/python3.10/site-packages (from bokeh>=2.4.2->dask[complete]) (1.1.0)
Requirement already satisfied: pillow>=7.1.0 in /home/dranser/.local/lib/python3.10/site-packages (from bokeh>=2.4.2->dask[complete]) (10.0.0)
Requirement already satisfied: xyzservices>=2021.09.1 in /home/dranser/.local/lib/python3.10/site-packages (from bokeh>=2.4.2->dask[complete]) (2023.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/dranser/.local/lib/python3.10/site-packages (from jinja2>=2.10.3->dask[complete]) (2.1.3)
Requirement already satisfied: tzdata>=2022.1 in /home/dranser/.local/lib/python3.10/site-packages (from pandas>=1.3->dask[complete]) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/dranser/.local/lib/python3.10/site-packages (from pandas>=1.3->dask[complete]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/dranser/.local/lib/python3.10/site-packages (from pandas>=1.3->dask[complete]) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=1.3->dask[complete]) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [47]:
import dask.dataframe as dd

In [29]:
df= dd.read_csv("../data1.csv")

In [4]:
df

Dask DataFrame Structure:
                time temperature humidity     c0     c1      c2      c3
npartitions=1
               int64       int64    int64  int64  int64  string  string
                 ...         ...      ...    ...    ...     ...     ...
Dask Name: to_pyarrow_string, 2 graph layers

In [5]:
%%writefile data2.csv
time,temperature,humidity
0,22,58
1,21,57
2,25,57
3,26,55
4,22,53
5,23,59

Writing data2.csv

In [6]:
%%writefile data3.csv
time,temperature,humidity
0,22,58
1,21,57
2,25,57
3,26,55
4,22,53
5,23,59

Writing data3.csv

In [7]:
df = dd.read_csv('data*.csv')
df.count().compute()

time           12
temperature    12
humidity       12
dtype: int64

In [8]:
df

Dask DataFrame Structure:
                time temperature humidity
npartitions=2
               int64       int64    int64
                 ...         ...      ...
                 ...         ...      ...
Dask Name: read-csv, 1 graph layer

In [9]:
%%writefile data1.csv
time,temperature,humidity
0,22,58
1,21,57
2,25,57
3,26,55
4,22,53
5,23,59

Writing data1.csv

In [10]:
df = dd.read_csv('data*.csv')
df.count().compute()

time           18
temperature    18
humidity       18
dtype: int64

In [11]:
df.rename(columns={"time" : "second", "temperature" : "temp"})

Dask DataFrame Structure:
              second   temp humidity
npartitions=3
               int64  int64    int64
                 ...    ...      ...
                 ...    ...      ...
                 ...    ...      ...
Dask Name: rename, 2 graph layers

In [12]:
df[['temp', 'humidity']]

KeyError: "['temp'] not in index"

In [14]:
import pandas as pd

In [15]:
ddf= pd.DataFrame({"A": [1, 2, 3], "B": [3, 4, 5]},index=['a', 'b', 'c'])

In [23]:
df2 = dd.from_pandas(ddf, npartitions=1)
df2.head()

   A  B
a  1  3
b  2  4
c  3  5

In [24]:
df

Dask DataFrame Structure:
                time temperature humidity
npartitions=3
               int64       int64    int64
                 ...         ...      ...
                 ...         ...      ...
                 ...         ...      ...
Dask Name: read-csv, 1 graph layer

In [25]:
df(head)

NameError: name 'head' is not defined

In [32]:
df. head()
print(df)

Dask DataFrame Structure:
                time temperature humidity     c0     c1      c2      c3
npartitions=1
               int64       int64    int64  int64  int64  string  string
                 ...         ...      ...    ...    ...     ...     ...
Dask Name: to_pyarrow_string, 2 graph layers

In [43]:
df2= df.sort_values('temperature')

In [44]:
df2.head()

   time  temperature  humidity   c0   c1   c2    c3
1     1           21        57   42   23   tv   c12
0     0           22        58   23   25   pc   a12
4     4           22        53   32   32   ms   yl1
5     5           23        59   42   54   ub   gh5
2     2           25        57   34   53   ai   l32

In [51]:
df = dask.datasets.timeseries(start= '2023-01-01', end='2023-12-31')
df.head(20)

                        name    id         x         y
timestamp
2023-01-01 00:00:00  Charlie  1001  0.771903  0.244461
2023-01-01 00:00:01  Norbert   964 -0.555545  0.016744
2023-01-01 00:00:02      Bob  1054  0.008332  0.896638
2023-01-01 00:00:03   Hannah   964 -0.591425  0.764706
2023-01-01 00:00:04    Jerry  1012  0.816896  0.867031
2023-01-01 00:00:05   Ursula   992 -0.662765 -0.294740
2023-01-01 00:00:06   Hannah   998 -0.760293 -0.017522
2023-01-01 00:00:07   Oliver   972  0.317683 -0.537770
2023-01-01 00:00:08   Victor  1022 -0.442095  0.926090
2023-01-01 00:00:09    Laura  1022 -0.282061 -0.753168
2023-01-01 00:00:10   Ingrid   995 -0.931607  0.355075
2023-01-01 00:00:11   George  1014 -0.489164 -0.201108
2023-01-01 00:00:12  Michael  1016 -0.663189 -0.899034
2023-01-01 00:00:13    Zelda   969 -0.306328  0.810974
2023-01-01 00:00:14    Sarah   998  0.260100 -0.832152
2023-01-01 00:00:15      Dan  1000 -0.153189 -0.182978
2023-01-01 00:00:16    Wendy  1001  0.042929  0.477831
2023-01-01 00:00:17   Hannah  1044  0.138311  0.137234
2023-01-01 00:00:18    Sarah   997 -0.210828  0.451658
2023-01-01 00:00:19   Ursula  1020 -0.652473 -0.830007

In [48]:
import dask